SERVICE_TYPE=

# SEO Metadata
NEXT_PUBLIC_SITE_NAME=
NEXT_PUBLIC_SITE_URL=
NEXT_PUBLIC_SITE_DESCRIPTION=
NEXT_PUBLIC_SITE_TWITTER_HANDLE=
NEXT_PUBLIC_SITE_FACEBOOK_PAGE=
NEXT_PUBLIC_SITE_LINKEDIN_PAGE=
NEXT_TELEMETRY_DISABLED=

# Imagekit
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=

# Convert Kit
CONVERT_KIT_API_KEY=
CONVERT_KIT_BASE_URL=
CONVERT_KIT_FORM_ID=

# Live Comming Soon
NEXT_PUBLIC_COMMING_SOON=

# GOOGLE-AUTH
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=

# REDIS
REDIS_ENABLED=
REDIS_URL=

# DB_ACTIONS
MONGODB_URI=
SAVE_JOBS_TO_MONGO=

# JOB_SEARCH
JOB_SEARCH_WEBHOOK_URL=
N8N_API_KEY=

# POSTMARK
POSTMARK_API_KEY=
EMAIL_FROM_ADDRESS=
EMAIL_TO_ADDRESS=
POSTMARK_MARKETING_ENABLED=
NEXT_PUBLIC_APP_URL=

# OPENAI
OPENAI_API_KEY=

# HUNTER
HUNTER_API_KEY=
USE_MOCK_HUNTER=
DOMAIN_RESOLVER_CACHE_ENABLED=
DOMAIN_RESOLVER_MX_CHECK=

# STRIPE
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
# NEXT_PUBLIC_APP_URL=

# STRIPE-PLANID
STRIPE_FREE_PRICE_ID=
STRIPE_BEGINNER_PRICE_ID=
STRIPE_PRO_PRICE_ID=
STRIPE_ULTIMATE_PRICE_ID=
DISABLE_STRIPE=

# CroinJob
CRON_PROCESSOR_ENDPOINT=
CRONJOB_SECRET=
DISABLE_JOB_SEARCH_SPAM_PROTECTION=
DATABASE_FIRST_SEARCH_DISABLED=
SIMPLE_DAILY_PROCESSOR_DISABLED=
ENABLE_SMART_PROCESSING=

# ADMIN
ADMIN_EMAILS=
PROCESS_TEST_USERS=

# COST
COST_THRESHOLD_HIGH=
COST_THRESHOLD_MEDIUM=
